@import 'reset.css';

* {
  outline: 1px solid hotpink;
  border-radius: 10px;
}

html {
  --darkblue: #1f2937;
  --white: #f9faf8;
}

body {
  height: 100vh;
  background-color: var(--darkblue);
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 1.5em;
  color: var(--white);
  padding: 1rem;
}

h1 {
  font-size: 2em;
  color: var(--white);
  padding: 1rem;
}

h2 {
  font-size: 2em;
  color: var(--white);
  padding: 1rem;
}

h3 {
  font-size: 5em;
  padding: 1rem;
}

button {
  font-size: 1.5em;
  color: var(--white);
  background: none;
  padding: 1rem;
  margin: 1rem;
}
