@import 'reset.css';

/* display outlines for dev */

/* * {
    outline: 1px solid hotpink;
    border-radius: 10px;
} */

/* global color variables */

:root {
    /* fallback system fonts */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* preferred fonts */
    font-family: Arial, Helvetica, sans-serif;
    /* color palette */
    --white: #f9faf8;
    --lightblue: #2d3c51;
    --darkblue: #1f2937;
}

/* structure */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--darkblue);
    color: var(--white);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--lightblue);
    border-radius: 3vmin;
    height: 90vh;
    width: 90vw;
    max-width: 1000px;
    border: 2vmin solid var(--lightblue);
}

.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

img {
    overflow: hidden;
    max-height: 30vmin;
}

/* styles all buttons */

button {
    font-size: 2rem;
    color: var(--white);
    background: none;
    padding: 3vmin;
    margin: 3vmin;
    border-radius: 10px;
}

/* scoreboard header */

.score {
    font-size: 1rem;
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

/* scoreboard count */

.score p {
    font-size: 2em;
    text-align: center;
    padding: 1rem;
}

.match {
    color: var(--white);
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* title and match status */

.winner {
    color: var(--white);
    text-align: center;
}

.hands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* flip player hand image */

.player-hand {
    transform: rotateY(180deg);
}
